body {
	background-color: #ffffff;
}

div.center {
	text-align: center;
}

canvas {
	border: 1px solid #808080;
	background-color: #d3d3d3;

	width: 640px;
    
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges; /* FireFox */
	image-rendering: -webkit-optimize-contrast; /* Safari */
	image-rendering: optimize-contrast; /* Opera */
	-ms-interpolation-mode: nearest-neighbor; /* IE */
}